@font-face{
    font-family: myfont;
    src: url(fonts/Mastery.otf) format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Montserrat:ital,wght@0,400;0,800;1,400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root {
    --primary-bg-color:#1C2833;
    --secondary-bg-color: #212F3C;
    --txt-white:#fff;
    --primary-txt-color:#00fffb;
    --box-shadow: 10px 8px #00fffb
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: "Montserrat", sans-serif; */
    text-decoration: none;
    /* overflow: hidden; */
    scroll-behavior: smooth;
}
header {
    color: var(--txt-white);
    background-color: var(--secondary-bg-color);
    font-size: 1.5rem;
    /* min-height: 100vh; */
    width: 100%;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background: var(--primary-bg-color);
}
a {
    color:var(--txt-white);
}
nav h2 {
    padding: left 5px;
}
nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 1.4rem;
    padding: 1.5rem 0.5rem;
    position: relative;
    display: inline;
    font-family: myfont;
}

nav ul li:hover{
    text-shadow: 0 0 20px #00fffb, 0 0 40px #0081bc; 
}

nav ul li a::after {
    content: "";
    position: absolute;
    height: 3px;
    background: var(--primary-txt-color);
    left: 0;
    top: 60px;
    width: 0%;
    transition: all .3s ease-in-out;
}

nav ul li a:hover::after{
    width: 100%;
}
.icons,.icons i{
    display:none;
    font-size: 24px;
    color: #00fffb;
    margin-right:10px
}

.logo {
    /* color: var(--primary-txt-color); */
    font-size: 2rem;
    font-family: myfont;
}


main{
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #212F3C;
    color: #fff;
    padding: 20px;
}

.text{
    text-shadow: 0 0 20px #00fffb, 0 0 40px #0081bc;
}

.about-left{
    width: 70%;
}
.about-left h1{
    padding: 15px 0px;
    font-size: 48px;
    font-family: myfont;
}

.about-left p {
    text-align: start;
    font-size: 20px;
    font-family: lato;
    padding: 10px 50px 10px 0;
}
.about-right{
    width: 30%;
    padding: 20px 40px;
}
.about-right img{
    transform: skew(-10deg) ;
    box-shadow: 0 0 20px #00fffb, 0 0 40px #0081bc;
    margin-left: 10px;
    border-radius: 10px;
}

.container button {
    display: inline-block;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 1rem 2rem;
    margin: 2rem 2rem 0 0;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 2px;
    transition: all 0.5s;
}
.container button:hover {
    background: var(--primary-txt-color);
    border: none;
    padding: 1rem 3rem;
}

.container button:active{
    transform: scale(0.95);
}

.myskills{
    background-color: #1C2833;
    color: #00fffb;
    width: 100%;
}

.skills{
    background-color: #1C2833;
    color: #fff;
    width: 100%;
    display: flex;
}
.myskills{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}
.myskills h3{
    font-size: 36px;
    font-family: myfont;
}
.myskills h3 i{
    margin-left: -113px;
} 

.skill{
    width: 80%;
    padding: 20px;

}

.skill section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skill section h3{
    font-size: 36px;
    margin-right: 40px;
    padding: 20px;
    width: 50%;
    text-align: center;
    font-family: myfont;
}

.skill section div{
    text-align: center;
    margin-right: auto;
    width: 50%;
}

.skill section div i{
    font-size: 20px;
}

/* certification styling */
.certificates{
    display: flex;
    flex-direction: column;
    background-color:#212F3C ;
    width: 100%;
    color: #fff;
}

.certificates section{
    width: 100%;
    color: #00fffb;
    font-size: 36px;
    font-weight: bold;
    padding: 10px 50px;
    text-align: center;
    font-family: myfont;
}
.certificate-items{
    display: flex;
    /* flex-direction: column; */
    /* background-color: white; */
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 35px;
    padding: 5% 0;
}

.certificate{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: transparent;
    /* gap: 35px; */
    margin: 10px 5px 10px 5px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(40,180,99,0.5);
    transition: all 0.3s ease;
    max-width: 320px;
    min-width: 320px;
    min-height: 254px;
}

.certificate img{
    width: 250px;
    height: 200px;
    border-radius: 35px;
    padding: 10px 20px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.certificate img:hover{
    transform: scale(1.3) translateY(15px);
}

.certificate p{
    color: #fff;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    padding: 5px 7px;
}

.projects{
    width: 100%;
    background-color: #1C2833;
    color: #fff;
}

.projects section{
    width: 100%;
    color: #00fffb;
    font-size: 36px;
    font-weight: bold;
    padding: 10px 50px;
    text-align: center;
    font-family: myfont;
}

.projects-items{
    display: flex;
    /* flex-direction: column; */
    /* background-color: white; */
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 35px;
    padding: 5% 0;
}

.project{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #fff;
    /* gap: 35px; */
    margin: 10px 5px 10px 5px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(40,180,99,0.5);
    transition: all 0.3s ease;
    max-width: 320px;
}

.project:hover{
    transform: translateY(-5px);
}

.project img{
    width: 250px;
    height: 200px;
    border-radius: 35px;
    padding: 10px 20px;
    text-align: center;
}

.project p{
    color: black;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    padding: 5px 7px;
}

.view{
    margin-bottom: 7px;
    padding: 5px;
    background-color: rgb(40, 180, 99);
    color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

footer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #212F3C;
    color: #fff;
}

.social-icons a {
    padding: 0 1rem;
    transition: all .3s ;
}

.social-icons a:hover{
    color: var(--primary-txt-color);
    text-shadow: 2px 2px 5px #0081bc;
}

/* Adding media querry */
@media only screen  and (max-width: 430px){
    .logo h2{
        font-size: 24px;
        margin-left:20px
    }
    .links{
        display: none;
    }
    .links{
        background-color: #1C2833;
        width: 50%;
        position: absolute;
        top: 80px;
        right: 0;
        text-align: center;
        
        z-index: 10;
    }
    .links li{
        display: block;
        margin: 10px 0;
    }
    .container{
        flex-direction: column-reverse;

    }
    .about-left{
        width: 100%;
        text-align: center;
    }

    .about-left .text{
        font-size: 24px;
    }

    .about-left p{
        padding : 10px 20px;
    }
    .about-right{
        width: 100%;
        text-align: center;
    }
    .icons{
        display: block;
        cursor: pointer;
    }
    .icons .menu{
        display: block;
        cursor: pointer;

    }
    .skill .html h3{
        font-size: 14px;
    }
    .skill .html .stars .fa-star{
        font-size: 8px;
    }

    .skill section h3{
        width: 60%;
    }

    .skill section div{
        width: 40%;
    }

    .cert-container .cert-row1, .cert-container .cert-row2 {
        display: flex;
        flex-direction: column;
    }


}

@media only screen  and (min-width: 430px) and (max-width: 792px){
    header{
        width: 100vw;
    }
    nav{
        width: 100vw;
    }
    .logo h2{
        font-size: 36px;
        margin-left:20px
    }
    .links{
        display: none;
    }
    .links{
        background-color: #1C2833;
        width: 50%;
        position: absolute;
        top: 80px;
        right: 0;
        text-align: center;
        
        z-index: 10;
    }
    .links li{
        display: block;
        margin: 10px 0;
    }
    .container{
        flex-direction: column-reverse;

    }
    .about-left{
        width: 100%;
        text-align: center;
    }

    .about-left .text{
        font-size: 24px;
    }

    .about-left p{
        padding : 10px 20px;
    }
    .about-right{
        width: 100%;
        text-align: center;
    }
    .icons{
        display: block;
        cursor: pointer;
    }
    .icons .menu{
        display: block;
        cursor: pointer;

    }
    .skill .html h3{
        font-size: 14px;
    }
    .skill .html .stars .fa-star{
        font-size: 8px;
    }

    .skill section h3{
        width: 60%;
    }

    .skill section div{
        width: 40%;
    }

    .cert-container .cert-row1, .cert-container .cert-row2 {
        display: flex;
        flex-direction: column;
    } 
}
